<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Gallery</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getGalleryImages($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="gallery">
    <img *ngFor="let photo of photos; let i=index;" class="gallery-img" (click)="presentGalleryModal(i)" [src]="photo.url" />
    <h3 *ngIf="photos.length <= 0"> Sorry We don't have any image yet </h3>
    <button ion-button class="btn-ash" *ngIf="photos.length >= 5" full (click)="loadMore()"> Load More </button>
  </div>
</ion-content>