page-gallery {
    .gallery {
        padding: 10px;
    }
    .gallery-img {
        width:100%;
        height: auto;
        margin-bottom: 9px;
    }
    .btn-ash {
        background: #d5e2d7;
        color: #37373f;
    }
}