<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="getPost($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row responsive-sm>
    <ion-col *ngFor="let post of posts">
      <ion-card class="post-card" (click)="gotoPostPage(post)">
        <div class="post-date">
          {{post.createdAt}}
        </div>
        <div class="post-title">
          {{post.title}}
        </div>
        <img [src]="post.imageUrl" />
      </ion-card>
    </ion-col>
    <ion-col *ngIf="noPost">
      <ion-card class="post-card">
        <div class="noPost">
          <b>No Post Yet :(</b>
        </div>
        <!--<div class="post-date">
          {{post.createdAt}}
        </div>
        <div class="post-title">
          {{post.title}}
        </div>
        <img src="http://ionicmaterial.com/preview/img/toronto.jpg" />-->
      </ion-card>
    </ion-col>
    <div class="loadMore" *ngIf="limit >= 5">
      <button round ion-button full color="secondary" (click)="loadMore()"> Load More </button>
    </div>
  </ion-row>
</ion-content>