// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

app-page {
    .no-scroll .scroll-content{
     overflow: hidden;
    }
    .menu-content {
        background: #0065b0;
    }
    .menu {
        // padding-top: 300px !important;
    }
    .menu-list {
        height: 50px;
        color: #ffffff;
        padding-top: 12px;
        text-align: center;
        font-size: 18px;
        // border: 1px solid #000000;
    }
    .fade-blue {
        background: #006ec2
    }
    .menu-img {
        height: 250px;
        // border: 1px solid #ffffff;
        padding: 20px;
        padding-left: 55px;
    }
    .img-round {
        width: 200px;
        height: 240px;
        background-position-x: 50px;
        background-position-y: 40px;
        background-image: url('http://res.cloudinary.com/deoxeurdo/image/upload/v1489329431/logo_gxnepi.png');
        // border: 3px solid #ffffff;
        // border-radius: 100%;
        background-repeat : no-repeat;
    }
    .space-top {
        margin-top: 58px;
    }
}
