<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Testimonies</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="gotoCreateTestimonyPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="getTestimonies($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of testimonies" (click)="submitTestimony()">

    <ion-card-header>
      {{ item.fullName }}
    </ion-card-header>

    <ion-card-content>
      <p>
        {{item.testimony}}
      </p>
    </ion-card-content>

  </ion-card>
  <ion-card *ngIf="testimonies <= 0">

    <ion-card-content>
      <p>
        No testimonies yet
      </p>
    </ion-card-content>

  </ion-card>
</ion-content>