page-video {
    .current-play iframe {
        width: 100%;
        height: 250px;
        background-size: contain;
        background-image: '../../assets/img/youtube-video.jpg';
    }
    .current-play iframe img {
        width: 400px;
        height: 250px;
    }
    #fixed {
        height: 570px;
        border: 1px solid #000000;
    }
    #top {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .video-list {
       max-height: 500px;
    }
    .video-li {
        width: 100%;
        height: 130px;
        // border-bottom:1px solid #000000;
        padding: 15px;
    }
    .video-img img {
        float: left;
        // border: 1px solid #000000;
        width: 120px;
        height: 100px;
    }
    .video-title {
        float: right;
        // border: 1px solid #000000;
        width: 200px;
        font-size: 16px;
        height: auto;
        font-weight: bold;

    }
}