<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Video</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="current-play">
    <div id="video-placeholder" style="width: 100%" class="embed-responsive-item"></div>
    <div class="videoImage" *ngIf="!onPlaying" frameborder="0" allowfullscreen style="background: url('http://res.cloudinary.com/deoxeurdo/image/upload/v1488832294/youtube-video_e1fazz.jpg'); background-size: contain;"></div>
  </div>
  <div class="video-list">
    <div class="video-li" *ngFor="let list of youtubeList" (click)="pickVideo($event, list)">
      <div class="video-img">
        <img [src]="list.snippet.thumbnails.high.url" alt="" />
      </div>
      <div class="video-title">
        {{list.snippet.title}}
      </div>
    </div>
  </div>
</ion-content>